{% extends "base.html" %}
{% block title %}
About aviyal
{% endblock %}
{% block content %}
<div id = "abouttext" class = "abouttext">
<p>Aviyal is unique and weird app which publish data on eating habbit of a place. What you cook and what you eat does effect you body and your mind to a great effect. </p>
<p> You say to us what are you eating today and we publish it. You say what you are making today and we publish it</p>
<p> This also helps you to shortlist what to eat when you visit a city based on the most popular dishes that has been made or eaten in a city </p>
<p> So enjoy </p>
<p> -- Team Aviyal </p>
</div>
{% endblock %}
