<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aviyal:Add Your Recipe</title>
<link rel="stylesheet" href="/static/css/home.css" >
<link rel="stylesheet" href="/static/css/form.css" >

</head>
<body >
<p><h1> Share with us, you favorite recipe</h1></p>
<div id="wrapper" class="addrec">
	{% block body %}
	<form method="post" action="{{ request.path }}">
	{% csrf_token %}
                <ul>
                        {{RecipeForm}}
                </ul>
                <input type="submit" value="Add Recipe"/>
        </form>
	{% endblock %}
		
</div>
</body>
</html>

