<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/css/home.css" >
<link rel="stylesheet" href="/static/css/styles.css" >


<title>Aviyal</title>

</head>
<body >
<div id="wrapper">
        {% block body %}
		<p>
                {% if user.is_authenticated %}
               <b> <a href="{% url userena_signout %}">Sign Out</a></b>
		</p>
		<p>
                {% else %}
                <b><a href="{% url userena_signin %}">Sign In</a></b>
		</p>
		<p>
                <b><a href="{% url userena_signup %}">Sign Up</a></b>
		</p>
                {% endif %}

	{% endblock %}
</div>
<div id="main">
	{%block content %}
		<p> <h2><Strong>So what are you cooking today?? Share with us.</strong></h2></p>
		<form id="Search">
			<input placeholder="Search for recipes,ingredients and more" type="text" value="" name="main_search" id="m_search"/>
			<button type="submit" class="primary">Search</button>
		</form>	
	{% endblock %}
</div>
</body>
</html>

