{% extends "base.html" %}
{% block title %}
Map that shows stats
{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<div id ="mapsearch" class="mapsearch">
	<form id="mapsearchp">
	<input placeholder="Search for places, popular foods and more" class="input-xxlarge search-query" style="height:42px" type="text"  id="mapsearchi"/>
	<button type="submit" class="btn btn-primary btn-large">Go!</button>
	</form>
</div>
<div id="searchmap" class="searchmap" >
</div>
<script type="text/javascript">
	if (!navigator.geolocation) {  console.log('Get a better browser'); }

		navigator.geolocation.getCurrentPosition(function(position) {
			var lat = position.coords.latitude;
			var longi = position.coords.longitude;
			console.log(lat,longi);
			var map = L.map('searchmap').setView([lat, longi], 13);

                	L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
                        maxZoom: 20,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
               		 }).addTo(map);
                	//$.cookie("Lat", position.coords.latitude);
                	//$.cookie("Longi", position.coords.longitude);
                
                	L.marker([lat, longi]).addTo(map)
                        .bindPopup("<b>Hello world!</b><br />You are surfing form here.").openPopup();
			
			document.cookie = 'latcookie ='+lat+';path=/';
			document.cookie = 'longcookie ='+longi+';path=/';
			var getCookie = document.cookie;
			//console.log(getCookie.latcookie);

        	});
		function readCookie(){
			var ca = document.cookie.split(';');
			console.log(ca);
		}


	</script>
{% endblock %}





