
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.addrec{
margin:0 auto;
width:400px;
height:700px;
padding:14px;
float: center;
}

/* ----------- stylized ----------- */
#wrapper{
border:solid 2px #b7ddf2;
background:transparent;
}
#wrapper h1 {
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}
#wrapper p{
font-size:18px;
color:#82ABC2;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#wrapper label{
display:block;
font-weight:bold;
text-align:left;
width:100px;
float:left;
}
#wrapper .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#wrapper input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px 
width:200px;
margin:2px 0 15px 10px;
}
#wrapper select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px 
width:150px;
margin:2px 0 15px 5px;
}


#wrapper textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:300px;
margin:2px 0 10px 5px;

}
#wrapper button{
clear:both;
margin-left:150px;
width:125px;
height:45px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
float: right;
}
